@font-face {
  font-family: "fzb";
  src: url("./assets/fonts/FZBitmap-GBK-11X12-2.ttf");
}

@font-face {
  font-family: "dtm";
  src: url("./assets/fonts/8bitOperatorPlus-Bold.woff");
}

.app{
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

:root{
  --font: 14px "dtm","fzb";
  --color-default: #fff;
  --background-default: #000
}

label{
  font: var(--font);
}

button[data-style="transparent"]{
  background: transparent;
  padding: 10px;
  transition: all 0.5s;
  border: none;
  color: #fff;
  font: 14px "dtm","fzb";
}

button[data-style="transparent"]:hover{
  backdrop-filter: brightness(0.8);
  color: #ffff00;
}

.window{
  position: absolute;
  background: #c3c3c3;
  border: #000000 3px solid;
  z-index: 1;
}

.window .titleBar{
  background: #656565;
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 16px);
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.window .titleBar .name{
  font: 15px "dtm","fzb";
  color: #fff;
}

.window .titleBar .controlButtons{
  position: absolute;
  right: 3px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.window .titleBar .controlButtons .closeButton,.maxButton{
  width: 24px;
  height: 24px;
}

.window .titleBar .controlButtons .closeButton{
  background: url(./assets/icons/window_close.png);
}

.window .titleBar .controlButtons .maxButton{
  background: url(./assets/icons/window_maximize.png);
}

.window .content{
  position: absolute;
  top: 36px;
  left: 3px;
  border: #2c2c2c 3px solid;
  overflow: hidden;
}

.desktop{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; 
  z-index: 0;
}

.desktop .background{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.desktop .softwareGrid{
  position: absolute;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 7px;
}

.desktop .softwareGrid .softwareItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.desktop .softwareGrid .softwareItem .icon{
  width: 50px;
  height: 50px;
}

.taskBar{
  z-index: 2;
  position: absolute;
  bottom: 6px;
  left: 6px;
  background: #656565;
  border: #c3c3c3 3px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 18px);
  height: 60px;
}

.taskBar .startButton{
  margin-left: 14px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background: #757575;
  border: #2c2c2c 2px solid;
  color: #fff;
  transition: all 0.5s;
}

.taskBar .startButton:hover{
  color: #ffff00;
}

.taskBar .startButton .startSign{
  width: 20px;
  height: 20px;
}

.taskBar .activeWindowsBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.taskBar .activeWindowsBar .activeWindowButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskBar .activeWindowsBar .activeWindowButton .activeWindowIcon{
  width: 37px;
  height: 37px;
}

.menu{
  position: absolute;
  bottom: 78px;
  left: 6px;
  background: #c3c3c3;
  border: #2c2c2c 3px solid;
  width: 270px;
  height: 480px;
}

.menu .sideBar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  background: linear-gradient(0deg,#0000FF 0%,#000000 100%);
}

.menu .sideBar .logo{
  transform: rotate(90deg);
  width: 230px;
  height: 30px;
  position: absolute;
  bottom: 120px;
  left: -90px;
}

.menu .content{
  position: absolute;
  top: 20px;
  left: 60px;
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu .content .softwareListTitle{
  color: #fff;
  margin-left: 10px;
}

.menu .content .softwareList{
  position: relative;
  top: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu .content .softwareList .softwareItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 7px;
  gap: 10px;
}

.menu .content .softwareList .softwareItem .icon{
  width: 32px;
  left: 32px;
}